* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size: 12px;
  background-color: #111111;
  color: #f1f1f1;
  text-align: center;
}
a {
  color: #f1f1f1;
  font-weight: bold;
  text-decoration: underline;
}
a:hover {
  color: #d8e673;
}
img {
  border:  none;
}
p {
  margin-bottom: 20px;
  line-height: 20px;
}
#wrapper {
  margin: 0 auto;
  width: 970px;
  background-color: #222222;
}
#header {
  border-bottom: 2px solid #d5e461;
  height: 80px;
  background-image: url(images/bg-header.gif);
  background-repeat: repeat-x;
  background-color: #d0e254;
}
#sidebar {
  padding: 10px;
  float: right;
  width: 160px;
}
#body {
  padding: 10px;
  margin-right: 180px;
  min-height: 400px;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
}
#footer {
  padding: 10px;
  text-align: center;
}
#menu {
  float: right;
}
#menu ul {
  list-style-type: none;
  padding-right: 10px;
}
#menu li {
  float: left;
  text-align: center;
  margin-left: 3px;
  color: black;
}
#menu li a {
  height: 26px;
  line-height: 26px;
  width: 80px;
  display: block;
  background-image: url(images/menu.gif);
  background-repeat: no-repeat;
  color: black;
  font-size: 13px;
  margin-top: 54px;
  font-family: Arial,Helvetica,sans-serif;
}
#menu li a:hover {
  height: 30px;
  line-height: 30px;
  margin-top: 50px;
  background-image: url(images/menu-hover.gif);
  background-repeat: no-repeat;
  color: black;
}
#menu li .active {
  height: 30px;
  line-height: 30px;
  margin-top: 50px;
  background-image: url(images/menu-hover.gif);
  background-repeat: no-repeat;
  color: black;
}
h1 a {
  color: #c2d926;
}
h2 {
  font-size: 14px;
  color: #f1f1f1;
  font-weight: bold;
  letter-spacing: -1px;
}
#sidebar ul {
  list-style-type: none;
}
#sidebar li {
  padding-left: 10px;
}
#sidebar li a {
  font-weight: normal;
}
#title {
  line-height: 80px;
  padding-left: 10px;
  color: black;
}
#subtitle {
  padding-left: 30px;
  margin-top: -26px;
  color: #fdfdfd;
  cursor: default;
}
.title1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
}
.title2 {
  font-size: 30px;
  color: #000000;
  font-style: italic;
}
